/* header */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mainColor);
  overflow-x: hidden;
}

:root {
  --bgColor:  rgb(0,153,159);
  --mainColor: white;
  --shadowColor: rgb(82, 82, 82);
}


/* Header Content */


/* Navbar Content Start */





.navbar {
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,153,159);
    /* background-color:#13569b; */
    color: white;
    /* padding: 10px; */
    padding: 10px;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .menu-btn {
    background-color: transparent;
    border: none;
    background-color: rgb(0,153,159);
    color: white;
    font-size: 10px;
    cursor: pointer;
    margin-right: 10px;
   
  }
  .search_bar{
    margin: 5px ;
    padding: 10px;
  }
  
  .college_name {
    cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2em;
  color: var(--mainColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
  }
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0,153,159);
    /* background-color:#13569b; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f4caca;
    color: black;
  }
  
  .icon {
    margin-right: 8px;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navbar .profile {
    font-size: large;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  
  .fa-layer-group {
    cursor: pointer;
  }
  
  
  .navbar .profile .sign-out {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainColor);
  }

  /* notification start */
  .notification-container {
    position: relative;
    display: inline-block;
   } 
  
  .notification-btn {
    background-color:rgb(0,153,159) ;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  .notification-icon {
    font-size: 1.2rem;
  }
  
  .notification-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color:white;
    color: rgb(0,153,159) ;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 12px;
  }
  
  .notification-dropdown {
    display: none;
    position: absolute;
    background-color: rgb(0,153,159) ;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .notification-header {
    padding: 10px;
    background-color: white;
    color:  black;
  }
  
  .notification-list {
    padding: 10px;
  }
  
  .no-notifications {
    color: white;
    text-align: center;
  }
  
  .notification-container:hover .notification-dropdown {
    display: block;
  }
  /* end */
  /* module */
  .dropdown-module {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn-module {
    background-color: rgb(0,153,159) ;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content-module {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .dropdown-header-module {
    padding: 10px;
    background-color: rgb(0,153,159) ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-header-module input {
    padding: 10px;
    margin:5px;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  .module-list-module {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .module-container-module {
    background-color: white;
    color: rgb(0,153,159) ;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-basis: calc(33.33% - 10px);
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }
  
  .module-container-module:hover {
    background-color: rgb(0,153,159) ;
    color: white;
  }
  
  .icon-module {
    margin-right: 8px;
  }
  
  .dropdown-module:hover .dropdown-content-module {
    display: block;
  }
  
  .dropdown-module:hover .dropdown-btn-module {
    background-color: rgb(0,153,159) ;
  }
  /* end */
  /* image */
  .image-container-profile {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-image-profile {
    cursor: pointer;
    max-width: 50px;
    border-radius: 20px;
  }
  
  .dropdown-content-profile {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    max-width: 90vw; 
    max-height: 90vh; 
    overflow: auto; 
  }
  
  .dropdown-header-profile {
    padding: 10px;
    background-color: rgb(0,153,159) ;
    text-align: center;
  }
  
  .dropdown-image-small-profile {
    max-width: 80px; 
  }
  
  .option-container-profile {
    margin-bottom: 20px;
  }
  
  .option-container-profile h3 {
    color: rgb(0,153,159) ;
    margin-bottom: 5px;
  }
  
  
  .options-profile {
    display: flex;
    flex-wrap: wrap;
  }
  
  .option-profile {
    background-color: rgb(0,153,159) ;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .option-profile:hover {
    background-color: rgb(0,153,159) ;
  }
  
  .nested-dropdown-profile {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    left: 100%;
    top: 0;
  }
  
  .nested-option-profile {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
  }
  
  .nested-option-profile:hover {
    background-color: rgb(0,153,159) ;
    color: white;
  }
  
  .option-profile:hover .nested-dropdown-profile {
    display: block;
  }
  
  .image-container-profile:hover .dropdown-content-profile {
    display: block;
  }
  /* end */
 /* navbar end */

/* routing-menu */
#routingMenu{
  width: 8.438rem;
  position: absolute;
  background-color:  rgb(0,153,159);
  top: 3.5rem;
  height: 250vh !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .08);
}
a{
  text-decoration: none;
  color: white;
}
 
a:hover{
  /* text-decoration: underline; */
  color: rgb(8, 69, 71);
}

i{
  color: white;
}

.dash{
  font-size: 30px;
  padding-top: 15px;
}
/* routing menu ends */

/* heading */
#heading{
  padding-top: 5%;
  padding-left: 10px;
  margin-left: 156px;
  font-weight: bold;
  font-size: 24px;

}
/* heading ends */

/* total-courses */
#courses{
  display: flex;
  justify-content: center;
  gap: 30cap;
  margin-left: 5%;
  margin-top: -3rem;
  padding-top: -3rem;
  
}

#courses h3{
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}
#global,#institute{
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  border: 2px solid black;
  height: 25cap;
  width: 30cap;
  border-radius: 4cap;
  box-shadow: 10px 10px  rgb(0,153,159); 
}

#container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10cap;
}

#assigned{
  border: 0.1rem solid black;
  height: 25cap;
  width: 30cap;
  border-radius: 4cap;
  text-align: center;
  justify-content: center;
  box-shadow: 10px 10px  rgb(0,153,159); 
  padding-top: 2%;
}

#total{
  display: flex;
  justify-content: space-evenly;
  gap: 10cap;
  border: 0.1rem solid black;
  height: 27cap;
  width: 70cap;
  border-radius: 4cap;
  text-align: center;
  justify-content: center;
  box-shadow: 10px 10px  rgb(0,153,159); 
}

#completed,#progress,#not-started{
  padding-top: 2%;
}
